:root {
    --cor-preto: #121212;
    --cor-offwhite: #fff3ef;
    --cor-cinza: #b4aaa3;
    --cor-destaque: #d4c8c0;
    --fonte-principal: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-principal);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 7px;
}
.secao-1 {
    background-color: var(--cor-preto);
    padding: 70px 0;
    color: var(--cor-offwhite);
}
.container-s1 {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "hero hero hero hero"
        "texto g1 g2 g3";
}
.hero { grid-area: hero; max-height: 400px;}
.bloco-texto { grid-area: texto; padding: 20px; }
.g1 { grid-area: g1; height: 267px;}
.g2 { grid-area: g2; height: 267px; }
.g3 { grid-area: g3; height: 267px;}
.bloco-texto {
    grid-area: texto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.bloco-texto button {
    background-color: var(--cor-cinza);
    color: var(--cor-preto);
    font-weight: 600;
    padding: 12px 24px 10px;
    margin-top: 20px;
    border-radius: 30px;
    font-family: var(--fonte-principal);
}
.bloco-texto button:hover {
    background-color: var(--cor-destaque);
}


.bloco-texto button:hover {
    background-color: var(--cor-destaque);
}

.secao-2 {
    background-color: var(--cor-offwhite);
    padding: 20px 40px;
    width: 100%;
}
.container-s2 {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 300px;
    grid-auto-flow: dense;
}
.container-s2 img {
    transition: transform 0.3s ease;
}

.container-s2 img:hover {
    transform: scale(1.03);
}
.img-alta {
    grid-row: span 2;
}

@media (max-width: 1024px) {
    .container-s1 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "hero hero"
            "texto texto"
            "g1 g2"
            "g3 .";
        padding: 0 40px;
    }

    .hero {
        max-height: 300px;
    }

    .g1, .g2, .g3 {
        height: 200px;
    }
}

@media (max-width: 600px) {
    .container-s1 {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "hero hero hero"
            "texto texto texto"
            "g1 g2 g3";
        padding: 0 20px;
    }

    .hero {
        max-height: 250px;
    }

    .g1, .g2, .g3 {
        height: 100px;
        object-fit: cover;
    }

    .secao-2 {
        padding: 20px;
    }

    .container-s2 {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 150px;
    }

    .img-alta {
        grid-row: span 2;
    }
}